.slider1 .slick-list{
    margin-right: -15%;
}
.slider1 .slick-prev {
  top: -10%; 
  left: -6.5%;
}
.slider1 .slick-prev:before{
  content: url('../../../assets//media//images//arrow-slider.svg') !important;
}
.slider1 .slick-next:before{
  content: url('../../../assets//media//images//arrow-slider-2.svg') !important;
}
.slider1 .slick-next {
    top: -10%; 
    left: -3.5%;
  }
.slider1 img {
  width: 100%;
  height: 100%;
  }
.slide-spacing{
  padding-right: 20px !important;
}

/* Mobile respnsiveness */
@media screen and (max-width: 768px) {
  .slide-spacing{
    padding-right: 0px !important;
  }
}