.slider2 .slick-prev {
    left: 338px !important;
    top: 89%;
    z-index: 10;
    }
.slider2 .slick-next {
    right: 90px !important;
    top: 89%;
    z-index: 10;
  }
.slider2 .slick-dots{
    bottom: 30px !important;
    left: 130px !important;
    }
.slider2 .slick-dots li button:before{
    border-radius: 50% !important;
    opacity: 100% !important;
    border: 2px solid white !important;
    color: transparent !important;
    height: 8px !important;
    width: 8px !important;
}
.slider2 .slick-dots li.slick-active button:before{
    box-shadow:
    0 0 0 2px #1b1b29,  0 0 0 4px rgb(228, 54, 54);
}